<form class="form-horizontal" >
<div class="row">
	<div class="span6">
	<!-- Text input-->
	<div class="control-group">
	  <label class="control-label">You Name</label>
	  <div class="controls">
	    <input name="name" placeholder="" class="input-xlarge" required="" type="text">
	    
	  </div>
	</div>

	<!-- Text input-->
	<div class="control-group">
	  <label class="control-label">Your Email</label>
	  <div class="controls">
	    <input name="email" placeholder="We will send you the detailed info" class="input-xlarge" type="text">
	    
	  </div>
	</div>

	<!-- Multiple Radios (inline) -->
	<div class="control-group">
	  <label class="control-label">Number of Guests Attending</label>
	  <div class="controls">
	    <label class="radio inline">
	      <input name="number" value="1" checked="checked" type="radio">
	      1
	    </label>
	    <label class="radio inline">
	      <input name="number" value="2" type="radio">
	      2
	    </label>
	    <label class="radio inline">
	      <input name="number" value="3" type="radio">
	      3
	    </label>
	  </div>
	</div>

	<!-- Password input-->
	<div class="control-group">
	  <label class="control-label">You are Allergic to?</label>
	  <div class="controls">
	    <input name="allergy" placeholder="any food, drink, dog, cat, cute boy.." class="input-xlarge" type="text">
	    
	  </div>
	</div>
	<!-- Button -->
	<div class="control-group">
	  <label class="control-label"></label>
	  <div class="controls">
	    <button id="submit" name="submit" class="btn btn-primary btn-large">Submit</button>
	  </div>
	</div>
	</div><!--end of span6 -->
	<div class="span6">
	<!-- Multiple Radios -->
	<div class="control-group">
	  <label class="control-label">Need Pick-up</label>
	  <div class="controls">
	    <label class="radio inline">
	      <input name="pickup" value="Yes" type="radio">
	      Yes
	    </label>
	    <label class="radio inline">
	      <input name="pickup" value="No" checked="checked" type="radio">
	      No
	    </label>
	    <span class="help-block">The venue is BUS accessible</span>
	  </div>
	</div>

	<!-- Multiple Radios -->
	<div class="control-group">
	  <label class="control-label">Cute Girl/Boy Sit Next to You</label>
	  <div class="controls">
	    <label class="radio inline">
	      <input name="cute" value="Yes" type="radio">
	      Yes
	    </label>
	    <label class="radio inline">
	      <input name="cute" value="No" type="radio">
	      No
	    </label>
	    <span class="help-block">No Guarantees</span>
	  </div>
	</div>

	<!-- Textarea -->
	<div class="control-group">
	  <label class="control-label">Any Words would like to share</label>
	  <div class="controls">                     
	    <textarea id="shared" name="shared" class="input-xlarge"></textarea>
	  </div>
	</div>
	</div>

</form>
